/*user profile*/

html,

body{
height: 100%;
}

html{
display: table;
margin: auto;
}

body{
display: table-cell;
background: linear-gradient(to bottom,#87CEFA,#F5F5F5);
}

#header{
display: flex;
align-items: center;
background-color: white;
padding-left: 20px;
padding-right: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}

#headerTitle{
font-size: 30px;
color: coral;
font-family: cursive;
font-weight: bolder;
margin-left: 20px;
text-shadow: 2px 2px 4px #000000;
}

img{
width: 100px;
height: 100px;
border-radius: 50px;
}

form{
border: 2px solid black;
padding: 20px;
border-radius: 10px;
box-shadow: 2px 3px 3px black;
margin-top: 20px;
}

#profileText{
text-align: center;
text-decoration: underline;
}

tr>td:first-child{
padding-right: 40px;
font-size: 18px;
font-family: 'Courier New', Courier, monospace;
}

tr{
height: 40px;
}

#buttonsTd{
text-align: center;
}

input{
outline: none;
}



input[type=button]{
border: none;
margin: 0;
padding-left: 15px;
padding-right: 15px;
padding-top: 6px;
padding-bottom: 6px;
border-radius: 6px;
background-color: blue;
font-weight: bold;
color: white;
margin: 10px;
cursor: pointer;
}




input[type="button"]:hover{
background-color: rgb(0, 0, 0);
}